USE [master]
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [##MS_PolicyEventProcessingLogin##]    Script Date: 4/15/2021 1:57:55 PM ******/
CREATE LOGIN [##MS_PolicyEventProcessingLogin##] WITH PASSWORD=N'ZlCd5N5FvWZFCkvpZ8NFITm0ZrTT+2CzYoaeaDGaYlM=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyEventProcessingLogin##] DISABLE
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [##MS_PolicyTsqlExecutionLogin##]    Script Date: 4/15/2021 1:57:55 PM ******/
CREATE LOGIN [##MS_PolicyTsqlExecutionLogin##] WITH PASSWORD=N'89y6VYLL0mTbHFW+BNSLwqa3iBxdEWPPoiFidLZaURU=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyTsqlExecutionLogin##] DISABLE
GO
/****** Object:  Login [DESKTOP-RINN0MC\hussein]    Script Date: 4/15/2021 1:57:55 PM ******/
CREATE LOGIN [DESKTOP-RINN0MC\hussein] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT AUTHORITY\NETWORK SERVICE]    Script Date: 4/15/2021 1:57:55 PM ******/
CREATE LOGIN [NT AUTHORITY\NETWORK SERVICE] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT AUTHORITY\SYSTEM]    Script Date: 4/15/2021 1:57:55 PM ******/
CREATE LOGIN [NT AUTHORITY\SYSTEM] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT Service\MSSQLSERVER]    Script Date: 4/15/2021 1:57:55 PM ******/
CREATE LOGIN [NT Service\MSSQLSERVER] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT SERVICE\SQLSERVERAGENT]    Script Date: 4/15/2021 1:57:55 PM ******/
CREATE LOGIN [NT SERVICE\SQLSERVERAGENT] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT SERVICE\SQLTELEMETRY]    Script Date: 4/15/2021 1:57:55 PM ******/
CREATE LOGIN [NT SERVICE\SQLTELEMETRY] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT SERVICE\SQLWriter]    Script Date: 4/15/2021 1:57:55 PM ******/
CREATE LOGIN [NT SERVICE\SQLWriter] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT SERVICE\Winmgmt]    Script Date: 4/15/2021 1:57:55 PM ******/
CREATE LOGIN [NT SERVICE\Winmgmt] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [l_certSignPolyBaseAuthorize]    Script Date: 4/15/2021 1:57:55 PM ******/
CREATE LOGIN [l_certSignPolyBaseAuthorize] FROM CERTIFICATE [_##PDW_PolyBaseAuthorizeSigningCertificate##]
GO
/****** Object:  Login [l_certSignSmDetach]    Script Date: 4/15/2021 1:57:55 PM ******/
CREATE LOGIN [l_certSignSmDetach] FROM CERTIFICATE [_##PDW_SmDetachSigningCertificate##]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [DESKTOP-RINN0MC\hussein]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT Service\MSSQLSERVER]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\SQLSERVERAGENT]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\SQLWriter]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\Winmgmt]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [l_certSignPolyBaseAuthorize]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [l_certSignSmDetach]
GO
USE [Attendance_ManagementV1._0.Models.ProjDbContext]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 4/15/2021 1:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[__MigrationHistory] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 4/15/2021 1:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[AdminId] [int] IDENTITY(1,1) NOT NULL,
	[AdminName] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[username] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Admins] PRIMARY KEY CLUSTERED 
(
	[AdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Admins] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 4/15/2021 1:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseId] [int] IDENTITY(1,1) NOT NULL,
	[CourseName] [nvarchar](max) NULL,
	[Sem] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Courses] PRIMARY KEY CLUSTERED 
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Courses] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[DivisionCourses]    Script Date: 4/15/2021 1:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DivisionCourses](
	[DivisionId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.DivisionCourses] PRIMARY KEY CLUSTERED 
(
	[DivisionId] ASC,
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[DivisionCourses] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Divisions]    Script Date: 4/15/2021 1:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Divisions](
	[DivisionId] [int] IDENTITY(1,1) NOT NULL,
	[DivisionName] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Divisions] PRIMARY KEY CLUSTERED 
(
	[DivisionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Divisions] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Faculties]    Script Date: 4/15/2021 1:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faculties](
	[FacultyId] [int] IDENTITY(1,1) NOT NULL,
	[FacultyName] [nvarchar](max) NULL,
	[password] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Gender] [int] NOT NULL,
	[Mobilenumber] [nvarchar](max) NULL,
	[Division_DivisionId] [int] NULL,
	[username] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Faculties] PRIMARY KEY CLUSTERED 
(
	[FacultyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Faculties] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[FacultyCourses]    Script Date: 4/15/2021 1:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FacultyCourses](
	[FacultyId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
	[DivisionId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.FacultyCourses] PRIMARY KEY CLUSTERED 
(
	[FacultyId] ASC,
	[CourseId] ASC,
	[DivisionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[FacultyCourses] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[FacultyDivisions]    Script Date: 4/15/2021 1:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FacultyDivisions](
	[FacultyId] [int] NOT NULL,
	[DivisionId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.FacultyDivisions] PRIMARY KEY CLUSTERED 
(
	[FacultyId] ASC,
	[DivisionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[FacultyDivisions] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[StudentAttendances]    Script Date: 4/15/2021 1:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentAttendances](
	[StudentAttendenceId] [int] IDENTITY(1,1) NOT NULL,
	[Status] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
	[date] [datetime] NOT NULL,
	[StudentId] [int] NOT NULL,
	[DivisonId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.StudentAttendances] PRIMARY KEY CLUSTERED 
(
	[StudentAttendenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[StudentAttendances] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[StudentCourses]    Script Date: 4/15/2021 1:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentCourses](
	[StudentId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.StudentCourses] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC,
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[StudentCourses] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[StudentFaculties]    Script Date: 4/15/2021 1:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentFaculties](
	[StudentId] [int] NOT NULL,
	[FacultyId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.StudentFaculties] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC,
	[FacultyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[StudentFaculties] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Students]    Script Date: 4/15/2021 1:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentId] [int] IDENTITY(1,1) NOT NULL,
	[StudentName] [nvarchar](max) NULL,
	[password] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Gender] [int] NOT NULL,
	[Birthdate] [datetime] NOT NULL,
	[Branch] [nvarchar](max) NULL,
	[Sem] [int] NOT NULL,
	[DivisionId] [int] NOT NULL,
	[username] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Students] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Students] TO  SCHEMA OWNER 
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([AdminId], [AdminName], [Password], [username]) VALUES (1, N'admin', N'admin', N'admin')
SET IDENTITY_INSERT [dbo].[Admins] OFF
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([CourseId], [CourseName], [Sem]) VALUES (2, N'suc', 1)
INSERT [dbo].[Courses] ([CourseId], [CourseName], [Sem]) VALUES (1002, N'HUSSEINI CNSS', 3)
INSERT [dbo].[Courses] ([CourseId], [CourseName], [Sem]) VALUES (2002, N'cis', 1)
SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
INSERT [dbo].[DivisionCourses] ([DivisionId], [CourseId]) VALUES (1, 2)
INSERT [dbo].[DivisionCourses] ([DivisionId], [CourseId]) VALUES (2, 2)
INSERT [dbo].[DivisionCourses] ([DivisionId], [CourseId]) VALUES (1002, 1002)
GO
SET IDENTITY_INSERT [dbo].[Divisions] ON 

INSERT [dbo].[Divisions] ([DivisionId], [DivisionName]) VALUES (1, 0)
INSERT [dbo].[Divisions] ([DivisionId], [DivisionName]) VALUES (2, 1)
INSERT [dbo].[Divisions] ([DivisionId], [DivisionName]) VALUES (1002, 7)
SET IDENTITY_INSERT [dbo].[Divisions] OFF
GO
SET IDENTITY_INSERT [dbo].[Faculties] ON 

INSERT [dbo].[Faculties] ([FacultyId], [FacultyName], [password], [Email], [Gender], [Mobilenumber], [Division_DivisionId], [username]) VALUES (1, N'hussein', N'lkjrrwjwdpo', N'hussinzoghaly@gmail.com', 0, NULL, NULL, N'admin')
INSERT [dbo].[Faculties] ([FacultyId], [FacultyName], [password], [Email], [Gender], [Mobilenumber], [Division_DivisionId], [username]) VALUES (1002, N'hussein', N'lkjrrwjwdpo', N'hussinzoghaly@gmail.com', 0, NULL, NULL, N'admin')
INSERT [dbo].[Faculties] ([FacultyId], [FacultyName], [password], [Email], [Gender], [Mobilenumber], [Division_DivisionId], [username]) VALUES (2002, N'admin', N'admin', NULL, 0, NULL, NULL, N'admin')
SET IDENTITY_INSERT [dbo].[Faculties] OFF
GO
INSERT [dbo].[FacultyCourses] ([FacultyId], [CourseId], [DivisionId]) VALUES (1, 2, 1)
INSERT [dbo].[FacultyCourses] ([FacultyId], [CourseId], [DivisionId]) VALUES (1, 2, 2)
INSERT [dbo].[FacultyCourses] ([FacultyId], [CourseId], [DivisionId]) VALUES (2002, 2, 2)
GO
INSERT [dbo].[FacultyDivisions] ([FacultyId], [DivisionId]) VALUES (1, 1)
INSERT [dbo].[FacultyDivisions] ([FacultyId], [DivisionId]) VALUES (1, 2)
INSERT [dbo].[FacultyDivisions] ([FacultyId], [DivisionId]) VALUES (2002, 2)
GO
SET IDENTITY_INSERT [dbo].[StudentAttendances] ON 

INSERT [dbo].[StudentAttendances] ([StudentAttendenceId], [Status], [CourseId], [date], [StudentId], [DivisonId]) VALUES (1, 1, 2, CAST(N'2019-01-02T00:00:00.000' AS DateTime), 2, 1)
INSERT [dbo].[StudentAttendances] ([StudentAttendenceId], [Status], [CourseId], [date], [StudentId], [DivisonId]) VALUES (2, 1, 2, CAST(N'2019-01-02T00:00:00.000' AS DateTime), 3, 1)
INSERT [dbo].[StudentAttendances] ([StudentAttendenceId], [Status], [CourseId], [date], [StudentId], [DivisonId]) VALUES (3, 1, 2, CAST(N'2019-01-02T00:00:00.000' AS DateTime), 4, 1)
SET IDENTITY_INSERT [dbo].[StudentAttendances] OFF
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([StudentId], [StudentName], [password], [Email], [Gender], [Birthdate], [Branch], [Sem], [DivisionId], [username]) VALUES (2, N'hussein', N'lkjrrwjwdpo', N'hussinzoghaly@gmail.com', 0, CAST(N'1998-01-06T00:00:00.000' AS DateTime), NULL, 1, 1, N'admin')
INSERT [dbo].[Students] ([StudentId], [StudentName], [password], [Email], [Gender], [Birthdate], [Branch], [Sem], [DivisionId], [username]) VALUES (3, N'ahmed', N'lkjrrwjwdpo', N'hussinzoghaly@gmail.com', 0, CAST(N'1998-01-06T00:00:00.000' AS DateTime), NULL, 2, 1, N'admin')
INSERT [dbo].[Students] ([StudentId], [StudentName], [password], [Email], [Gender], [Birthdate], [Branch], [Sem], [DivisionId], [username]) VALUES (4, N'admin', N'admin', N'hussinzoghaly@gmail.com', 0, CAST(N'1998-01-06T00:00:00.000' AS DateTime), NULL, 2, 1, N'admin')
SET IDENTITY_INSERT [dbo].[Students] OFF
GO
ALTER TABLE [dbo].[FacultyCourses] ADD  CONSTRAINT [DF__FacultyCo__Divis__5BE2A6F2]  DEFAULT ((0)) FOR [DivisionId]
GO
ALTER TABLE [dbo].[StudentAttendances] ADD  CONSTRAINT [DF__StudentAt__Divis__5AEE82B9]  DEFAULT ((0)) FOR [DivisonId]
GO
ALTER TABLE [dbo].[DivisionCourses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DivisionCourses_dbo.Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DivisionCourses] CHECK CONSTRAINT [FK_dbo.DivisionCourses_dbo.Courses_CourseId]
GO
ALTER TABLE [dbo].[DivisionCourses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DivisionCourses_dbo.Divisions_DivisionId] FOREIGN KEY([DivisionId])
REFERENCES [dbo].[Divisions] ([DivisionId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DivisionCourses] CHECK CONSTRAINT [FK_dbo.DivisionCourses_dbo.Divisions_DivisionId]
GO
ALTER TABLE [dbo].[Faculties]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Faculties_dbo.Divisions_Division_DivisionId] FOREIGN KEY([Division_DivisionId])
REFERENCES [dbo].[Divisions] ([DivisionId])
GO
ALTER TABLE [dbo].[Faculties] CHECK CONSTRAINT [FK_dbo.Faculties_dbo.Divisions_Division_DivisionId]
GO
ALTER TABLE [dbo].[FacultyCourses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FacultyCourses_dbo.Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FacultyCourses] CHECK CONSTRAINT [FK_dbo.FacultyCourses_dbo.Courses_CourseId]
GO
ALTER TABLE [dbo].[FacultyCourses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FacultyCourses_dbo.Faculties_FacultyId] FOREIGN KEY([FacultyId])
REFERENCES [dbo].[Faculties] ([FacultyId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FacultyCourses] CHECK CONSTRAINT [FK_dbo.FacultyCourses_dbo.Faculties_FacultyId]
GO
ALTER TABLE [dbo].[FacultyDivisions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FacultyDivisions_dbo.Divisions_DivisionId] FOREIGN KEY([DivisionId])
REFERENCES [dbo].[Divisions] ([DivisionId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FacultyDivisions] CHECK CONSTRAINT [FK_dbo.FacultyDivisions_dbo.Divisions_DivisionId]
GO
ALTER TABLE [dbo].[FacultyDivisions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FacultyDivisions_dbo.Faculties_FacultyId] FOREIGN KEY([FacultyId])
REFERENCES [dbo].[Faculties] ([FacultyId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FacultyDivisions] CHECK CONSTRAINT [FK_dbo.FacultyDivisions_dbo.Faculties_FacultyId]
GO
ALTER TABLE [dbo].[StudentAttendances]  WITH CHECK ADD  CONSTRAINT [FK_dbo.StudentAttendances_dbo.Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudentAttendances] CHECK CONSTRAINT [FK_dbo.StudentAttendances_dbo.Courses_CourseId]
GO
ALTER TABLE [dbo].[StudentAttendances]  WITH CHECK ADD  CONSTRAINT [FK_dbo.StudentAttendances_dbo.Students_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([StudentId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudentAttendances] CHECK CONSTRAINT [FK_dbo.StudentAttendances_dbo.Students_StudentId]
GO
ALTER TABLE [dbo].[StudentCourses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.StudentCourses_dbo.Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudentCourses] CHECK CONSTRAINT [FK_dbo.StudentCourses_dbo.Courses_CourseId]
GO
ALTER TABLE [dbo].[StudentCourses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.StudentCourses_dbo.Students_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([StudentId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudentCourses] CHECK CONSTRAINT [FK_dbo.StudentCourses_dbo.Students_StudentId]
GO
ALTER TABLE [dbo].[StudentFaculties]  WITH CHECK ADD  CONSTRAINT [FK_dbo.StudentFaculties_dbo.Faculties_FacultyId] FOREIGN KEY([FacultyId])
REFERENCES [dbo].[Faculties] ([FacultyId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudentFaculties] CHECK CONSTRAINT [FK_dbo.StudentFaculties_dbo.Faculties_FacultyId]
GO
ALTER TABLE [dbo].[StudentFaculties]  WITH CHECK ADD  CONSTRAINT [FK_dbo.StudentFaculties_dbo.Students_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([StudentId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudentFaculties] CHECK CONSTRAINT [FK_dbo.StudentFaculties_dbo.Students_StudentId]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Students_dbo.Divisions_DivisionId] FOREIGN KEY([DivisionId])
REFERENCES [dbo].[Divisions] ([DivisionId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_dbo.Students_dbo.Divisions_DivisionId]
GO
/****** Object:  Statistic [_WA_Sys_00000002_59063A47]    Script Date: 4/15/2021 1:57:55 PM ******/
CREATE STATISTICS [_WA_Sys_00000002_59063A47] ON [dbo].[__MigrationHistory]([ContextKey]) WITH STATS_STREAM = 0x01000000010000000000000000000000496385D0000000003B03000000000000FB02000000000000E7030A2AE7000000580200000000000008D0003400000000070000001FE20F00F8AC000004000000000000000400000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000CC4200008040000000000000CC4200000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001B04000000000000000000000000000085000000000000001F010000000000006F0100000000000077010000000000007F0100000000000008000000000000003000100000008040000000000000803F04000001007D0041007400740065006E00640061006E00630065005F004D0061006E006100670065006D0065006E007400560031002E005F0030002E004D006900670072006100740069006F006E0073002E0043006F006E00660069006700750072006100740069006F006E00FF01000000000000000400000001000000280000002800000000000000000000003300000041007400740065006E00640061006E00630065005F004D0061006E006100670065006D0065006E007400560031002E005F0030002E004D006900670072006100740069006F006E0073002E0043006F006E00660069006700750072006100740069006F006E000200000040000000000433000000000100000096683401F7AC00000000000000001040040000000000000001000000000000000000F03F00000000000000000000000000000000000000000000F8BF000000000000F8BF000000000000000004000000000000000000000000000000
GO
/****** Object:  Statistic [PK_dbo.__MigrationHistory]    Script Date: 4/15/2021 1:57:55 PM ******/
UPDATE STATISTICS [dbo].[__MigrationHistory]([PK_dbo.__MigrationHistory]) WITH STATS_STREAM = 0x0100000002000000000000000000000068E328830000000058000000000000000000000000000000E703005FE70000002C0100000000000008D000340069006FE7030073E7000000580200000000000008D0003400720061, ROWCOUNT = 4, PAGECOUNT = 4
GO
/****** Object:  Statistic [_WA_Sys_00000002_34C8D9D1]    Script Date: 4/15/2021 1:57:55 PM ******/
CREATE STATISTICS [_WA_Sys_00000002_34C8D9D1] ON [dbo].[Admins]([AdminName]) WITH STATS_STREAM = 0x0100000001000000000000000000000065336E13000000002B02000000000000EB01000000000000E7020000E7000000FFFF00000000000008D00034640200000700000022FE2F01F7AC000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000020410000803F0000000000002041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013040000000000000000000000000000290000000000000067000000000000006F0000000000000077000000000000000800000000000000300010000000803F000000000000803F04000001002100610064006D0069006E00FF010000000000000001000000010000002800000028000000000000000000000005000000610064006D0069006E0002000000400000000001050000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_34C8D9D1]    Script Date: 4/15/2021 1:57:55 PM ******/
CREATE STATISTICS [_WA_Sys_00000003_34C8D9D1] ON [dbo].[Admins]([Password]) WITH STATS_STREAM = 0x01000000010000000000000000000000244CC0B40000000083020000000000004302000000000000E7020000E7000000FFFF00000000000008D00034000000000700000072971000F8AC000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000020410000803F000000000000204100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001B04000000000000000000000000000029000000000000006700000000000000B700000000000000BF00000000000000C7000000000000000800000000000000300010000000803F000000000000803F04000001002100610064006D0069006E00FF010000000000000001000000010000002800000028000000000000000000000005000000610064006D0069006E000200000040000000000105000000000100000022FE2F01F7AC0000000000000000F03F010000000000000001000000000000000000F03F00000000000000000000000000000000000000000000E0BF000000000000E0BF000000000000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_34C8D9D1]    Script Date: 4/15/2021 1:57:55 PM ******/
CREATE STATISTICS [_WA_Sys_00000004_34C8D9D1] ON [dbo].[Admins]([username]) WITH STATS_STREAM = 0x0100000001000000000000000000000077F5BF7A0000000083020000000000004302000000000000E7020000E7000000FFFF00000000000008D00034000000000700000071971000F8AC000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000020410000803F000000000000204100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001B04000000000000000000000000000029000000000000006700000000000000B700000000000000BF00000000000000C7000000000000000800000000000000300010000000803F000000000000803F04000001002100610064006D0069006E00FF010000000000000001000000010000002800000028000000000000000000000005000000610064006D0069006E000200000040000000000105000000000100000021FE2F01F7AC0000000000000000F03F010000000000000001000000000000000000F03F00000000000000000000000000000000000000000000E0BF000000000000E0BF000000000000000001000000000000000000000000000000
GO
/****** Object:  Statistic [PK_dbo.Admins]    Script Date: 4/15/2021 1:57:55 PM ******/
UPDATE STATISTICS [dbo].[Admins]([PK_dbo.Admins]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 1, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_dbo.Courses]    Script Date: 4/15/2021 1:57:55 PM ******/
UPDATE STATISTICS [dbo].[Courses]([PK_dbo.Courses]) WITH STATS_STREAM = 0x0100000001000000000000000000000014FF4156000000009E020000000000005E02000000000000380300003800000004000A0000000000000000000000000007000000030A6501FBAC000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000190400000000000000000000000000003E00000000000000DA00000000000000E200000000000000EA0000000000000010000000000000002700000000000000100014000000803F000000000000803F02000000040000100014000000803F000000000000803FEA030000040000020000003C991100F8AC00000000000000000040010000000000000002000000000000000000E03F00000000000000000000000000000000000000000000E0BF000000000000E0BF0000000000000000185F3901F7AC0000000000000000F03F030000000000000001000000000000000000F03F000000000000F03F0000000000000000000000000000E0BF000000000000F8BFCD3B7F669EA0E63F02000000000000000000000000000000, ROWCOUNT = 6, PAGECOUNT = 1
GO
/****** Object:  Statistic [IX_CourseId]    Script Date: 4/15/2021 1:57:55 PM ******/
UPDATE STATISTICS [dbo].[DivisionCourses]([IX_CourseId]) WITH STATS_STREAM = 0x01000000020000000000000000000000D6E1DC710000000097020000000000003F02000000000000380300003800000004000A00000000000000000000000000380300003800000004000A0000000000000000000200000007000000030A6501FBAC000002000000000000000200000000000000000000000000803F0000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000200000014000000000000410000004000000000000080400000804000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000190400000000000000000000000000001F00000000000000BB00000000000000C300000000000000CB0000000000000008000000000000001000140000000040000000000000803F02000000040000020000003B991100F8AC00000000000000000040010000000000000001000000000000000000F03F00000000000000000000000000000000000000000000E0BF000000000000E0BF0000000000000000175F3901F7AC0000000000000000F03F020000000000000001000000000000000000F03F000000000000000000000000000000000000000000000000000000000000F0BF000000000000000002000000000000000000000000000000, ROWCOUNT = 4, PAGECOUNT = 1
GO
/****** Object:  Statistic [IX_DivisionId]    Script Date: 4/15/2021 1:57:55 PM ******/
UPDATE STATISTICS [dbo].[DivisionCourses]([IX_DivisionId]) WITH STATS_STREAM = 0x01000000020000000000000000000000305ED24B00000000B6020000000000005E0200000000000038030A003800000004000A000000000000000000030A6501380300003800000004000A0000000000000000000000000007000000030A6501FBAC000002000000000000000200000000000000000000000000003F0000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000200000014000000000000410000004000000000000080400000804000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000190400000000000000000000000000003E00000000000000DA00000000000000E200000000000000EA0000000000000010000000000000002700000000000000100014000000803F000000000000803F01000000040000100014000000803F000000000000803F02000000040000020000003C991100F8AC00000000000000000040010000000000000002000000000000000000E03F00000000000000000000000000000000000000000000E0BF000000000000E0BF0000000000000000185F3901F7AC0000000000000000F03F020000000000000001000000000000000000F03F000000000000F03F00000000000000000000000000000000000000000000F0BFCD3B7F669EA0E63F02000000000000000000000000000000, ROWCOUNT = 4, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_dbo.DivisionCourses]    Script Date: 4/15/2021 1:57:55 PM ******/
UPDATE STATISTICS [dbo].[DivisionCourses]([PK_dbo.DivisionCourses]) WITH STATS_STREAM = 0x0100000002000000000000000000000079B6B5C4000000004B02000000000000F301000000000000380300003800000004000A000000000000000000FD7F0000380341A93800000004000A0000000000000000005000000007000000408A1000F8AC000001000000000000000100000000000000000000000000803F0000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000200000014000000000000410000803F00000000000080400000804000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000190400000000000000000000000000001F000000000000006F0000000000000077000000000000007F000000000000000800000000000000100014000000803F000000000000803F0100000004000001000000185F3901F7AC0000000000000000F03F020000000000000001000000000000000000F03F00000000000000000000000000000000000000000000F0BF000000000000F0BF000000000000000001000000000000000000000000000000, ROWCOUNT = 4, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_dbo.Divisions]    Script Date: 4/15/2021 1:57:55 PM ******/
UPDATE STATISTICS [dbo].[Divisions]([PK_dbo.Divisions]) WITH STATS_STREAM = 0x010000000100000000000000000000001F71247A00000000BD020000000000007D02000000000000380300003800000004000A00000000000000000064020000070000008C8D6001FBAC00000300000000000000030000000000000000000000ABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000014000000000080400000404000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000190400000000000000000000000000005D00000000000000F9000000000000000101000000000000090100000000000018000000000000002F000000000000004600000000000000100014000000803F000000000000803F01000000040000100014000000803F000000000000803F02000000040000100014000000803F000000000000803FEA03000004000002000000D5591100F8AC00000000000000000840010000000000000003000000000000605555D53F00000000000000000000000000000000000000000000E0BF000000000000E0BF0000000000000000E42A3701F7AC00000000000000000040020000000000000002000000000000000000E03F000000000000F03F00000000000000000000000000000000000000000000F0BF1C339045A779E23F03000000000000000000000000000000, ROWCOUNT = 4, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000003_3C69FB99]    Script Date: 4/15/2021 1:57:55 PM ******/
CREATE STATISTICS [_WA_Sys_00000003_3C69FB99] ON [dbo].[Faculties]([password]) WITH STATS_STREAM = 0x010000000100000000000000000000000A094014000000009B020000000000005B02000000000000E7020000E7000000FFFF00000000000008D000340000000007000000F3656101FBAC000002000000000000000200000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000B04100000040000000000000B04100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001B04000000000000000000000000000035000000000000007F00000000000000CF00000000000000D700000000000000DF0000000000000008000000000000003000100000000040000000000000803F04000001002D006C006B006A007200720077006A007700640070006F00FF01000000000000000200000001000000280000002800000000000000000000000B0000006C006B006A007200720077006A007700640070006F00020000004000000000020B0000000001000000C2C03801F7AC00000000000000000040020000000000000001000000000000000000F03F00000000000000000000000000000000000000000000F0BF000000000000F0BF000000000000000002000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000008_3C69FB99]    Script Date: 4/15/2021 1:57:55 PM ******/
CREATE STATISTICS [_WA_Sys_00000008_3C69FB99] ON [dbo].[Faculties]([username]) WITH STATS_STREAM = 0x01000000010000000000000000000000660E76130000000083020000000000004302000000000000E7020000E7000000FFFF00000000000008D00034E700000007000000F0656101FBAC000002000000000000000200000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000204100000040000000000000204100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001B04000000000000000000000000000029000000000000006700000000000000B700000000000000BF00000000000000C70000000000000008000000000000003000100000000040000000000000803F04000001002100610064006D0069006E00FF010000000000000002000000010000002800000028000000000000000000000005000000610064006D0069006E0002000000400000000002050000000001000000C1C03801F7AC00000000000000000040020000000000000001000000000000000000F03F00000000000000000000000000000000000000000000F0BF000000000000F0BF000000000000000002000000000000000000000000000000
GO
/****** Object:  Statistic [IX_Division_DivisionId]    Script Date: 4/15/2021 1:57:55 PM ******/
UPDATE STATISTICS [dbo].[Faculties]([IX_Division_DivisionId]) WITH STATS_STREAM = 0x010000000200000000000000000000009727978100000000CC010000000000007401000000000000380200003800000004000A00000000000000000000000000380300003800000004000A0000000000000000000000000007000000EF656101FBAC000002000000000000000200000000000000000000000000803F0000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000014000000000080400000004000000040000000000000804000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100400000000000000000000000000000800000000000000100000000000000002000000000000000000000000000000, ROWCOUNT = 7, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_dbo.Faculties]    Script Date: 4/15/2021 1:57:55 PM ******/
UPDATE STATISTICS [dbo].[Faculties]([PK_dbo.Faculties]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 7, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000003_3E52440B]    Script Date: 4/15/2021 1:57:55 PM ******/
CREATE STATISTICS [_WA_Sys_00000003_3E52440B] ON [dbo].[FacultyCourses]([DivisionId]) WITH STATS_STREAM = 0x01000000010000000000000000000000ABB008CD00000000DB010000000000009B01000000000000380313003800000004000A0000000000000000000000000007000000C5A51000F8AC000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803F0100000004000001000000000000000000000000000000
GO
/****** Object:  Statistic [IX_CourseId]    Script Date: 4/15/2021 1:57:55 PM ******/
UPDATE STATISTICS [dbo].[FacultyCourses]([IX_CourseId]) WITH STATS_STREAM = 0x0100000003000000000000000000000033727FC800000000AF020000000000003F02000000000000380300003800000004000A00000000000000000000000000380300003800000004000A00000000000000000060000000380300003800000004000A000000000000000000640200000700000021666101FBAC000002000000000000000200000000000000000000000000803F0000803F0000003F00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000300000014000000000040410000004000000000000080400000804000008040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000190400000000000000000000000000001F00000000000000BB00000000000000C300000000000000CB0000000000000008000000000000001000140000000040000000000000803F0200000004000002000000C5A51000F8AC0000000000000000F03F010000000000000001000000000000000000F03F000000000000000000000000000000000000000000000000000000000000F0BF00000000000000005BC63801F7AC00000000000000000040020000000000000001000000000000000000F03F00000000000000000000000000000000000000000000F0BF0000000000000000000000000000000002000000000000000000000000000000, ROWCOUNT = 5, PAGECOUNT = 1
GO
/****** Object:  Statistic [IX_FacultyId]    Script Date: 4/15/2021 1:57:55 PM ******/
UPDATE STATISTICS [dbo].[FacultyCourses]([IX_FacultyId]) WITH STATS_STREAM = 0x010000000300000000000000000000009C419E1400000000AF020000000000003F02000000000000380300003800000004000A00000000000000000000000000380300003800000004000A00000000000000000060000000380300003800000004000A000000000000000000640200000700000020666101FBAC000002000000000000000200000000000000000000000000803F0000803F0000003F00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000300000014000000000040410000004000000000000080400000804000008040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000190400000000000000000000000000001F00000000000000BB00000000000000C300000000000000CB0000000000000008000000000000001000140000000040000000000000803F0100000004000002000000C4A51000F8AC0000000000000000F03F010000000000000001000000000000000000F03F000000000000000000000000000000000000000000000000000000000000F0BF00000000000000005BC63801F7AC00000000000000000040020000000000000002000000000000000000E03F00000000000000000000000000000000000000000000F0BF0000000000000000000000000000E03F02000000000000000000000000000000, ROWCOUNT = 5, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_dbo.FacultyCourses]    Script Date: 4/15/2021 1:57:55 PM ******/
UPDATE STATISTICS [dbo].[FacultyCourses]([PK_dbo.FacultyCourses]) WITH STATS_STREAM = 0x0100000003000000000000000000000087E8E5CB00000000AF020000000000003F02000000000000380300003800000004000A00000000000000000000000000380300003800000004000A00000000000000000060000000380300003800000004000A00000000000000000064020000070000001F666101FBAC000002000000000000000200000000000000000000000000803F0000803F0000003F00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000300000014000000000040410000004000000000000080400000804000008040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000190400000000000000000000000000001F00000000000000BB00000000000000C300000000000000CB0000000000000008000000000000001000140000000040000000000000803F0100000004000002000000C4A51000F8AC0000000000000000F03F010000000000000001000000000000000000F03F000000000000000000000000000000000000000000000000000000000000F0BF00000000000000005AC63801F7AC00000000000000000040020000000000000002000000000000000000E03F00000000000000000000000000000000000000000000F0BF0000000000000000000000000000E03F02000000000000000000000000000000, ROWCOUNT = 5, PAGECOUNT = 1
GO
/****** Object:  Statistic [IX_DivisionId]    Script Date: 4/15/2021 1:57:55 PM ******/
UPDATE STATISTICS [dbo].[FacultyDivisions]([IX_DivisionId]) WITH STATS_STREAM = 0x01000000020000000000000000000000889334FA000000001202000000000000BA01000000000000380302333800000004000A00000000000000000000000000380340A93800000004000A0000000000000000006402000007000000D8051100F8AC000002000000000000000200000000000000000000000000003F0000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000200000014000000000000410000004000000000000080400000804000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000003E0000000000000046000000000000004E0000000000000010000000000000002700000000000000100014000000803F000000000000803F01000000040000100014000000803F000000000000803F0200000004000002000000000000000000000000000000, ROWCOUNT = 5, PAGECOUNT = 1
GO
/****** Object:  Statistic [IX_FacultyId]    Script Date: 4/15/2021 1:57:55 PM ******/
UPDATE STATISTICS [dbo].[FacultyDivisions]([IX_FacultyId]) WITH STATS_STREAM = 0x01000000020000000000000000000000387B144B000000004B02000000000000F301000000000000380300003800000004000A0000000000000000000000003F380300003800000004000A000000000000000000000000000700000075BA6E01FBAC000002000000000000000200000000000000000000000000803F0000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000200000014000000000000410000004000000000000080400000804000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000190400000000000000000000000000001F000000000000006F0000000000000077000000000000007F0000000000000008000000000000001000140000000040000000000000803F0100000004000001000000D7051100F8AC00000000000000000040020000000000000001000000000000000000F03F00000000000000000000000000000000000000000000F0BF000000000000F0BF000000000000000002000000000000000000000000000000, ROWCOUNT = 5, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_dbo.FacultyDivisions]    Script Date: 4/15/2021 1:57:55 PM ******/
UPDATE STATISTICS [dbo].[FacultyDivisions]([PK_dbo.FacultyDivisions]) WITH STATS_STREAM = 0x01000000020000000000000000000000026D6773000000004B02000000000000F301000000000000380300003800000004000A0000000000000000000000003F380300003800000004000A00000000000000000000000000070000001B666101FBAC000002000000000000000200000000000000000000000000803F0000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000200000014000000000000410000004000000000000080400000804000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000190400000000000000000000000000001F000000000000006F0000000000000077000000000000007F0000000000000008000000000000001000140000000040000000000000803F010000000400000100000057C63801F7AC00000000000000000040020000000000000002000000000000000000E03F00000000000000000000000000000000000000000000F0BF000000000000F0BF000000000000E03F02000000000000000000000000000000, ROWCOUNT = 5, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_45F365D3]    Script Date: 4/15/2021 1:57:55 PM ******/
CREATE STATISTICS [_WA_Sys_00000002_45F365D3] ON [dbo].[StudentAttendances]([Status]) WITH STATS_STREAM = 0x01000000010000000000000000000000D23923F50000000052020000000000001202000000000000380300003800000004000A0000000000000000006402000007000000488A1000F8AC000006000000000000000600000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000C04000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000190400000000000000000000000000003E000000000000008E0000000000000096000000000000009E00000000000000100000000000000027000000000000001000140000004040000000000000803F000000000400001000140000004040000000000000803F0100000004000001000000D04E4001F7AC00000000000000001840060000000000000002000000000000000000E03F0000000000000000000000000000000000000000000008C000000000000008C0000000000000000006000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_45F365D3]    Script Date: 4/15/2021 1:57:55 PM ******/
CREATE STATISTICS [_WA_Sys_00000004_45F365D3] ON [dbo].[StudentAttendances]([date]) WITH STATS_STREAM = 0x010000000100000000000000000000006B9AD44700000000D40200000000000094020000000000003D0300003D000000080017030000000000000000000000000700000074793B00FDAC00002A000000000000002A00000000000000000000000000003E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000080000000800000001000000180000000000004100002842000000000000004100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001104000000000000000000000000000018010000000000002001000000000000280100000000000040000000000000005B0000000000000076000000000000009100000000000000AC00000000000000C700000000000000E200000000000000FD00000000000000100018000000803F000000000000803F00000000F29C00000400001000180000004040000000000000803F00000000C9A90000040000100018000000803F000000000000803F00000000C3AC00000400001000180000000040000000000000803F00000000E0AC00000400001000180000004040000000000000803F00000000F7AC00000400001000180000004040000000000000803F00000000F8AC0000040000100018000000A040000000000000803F00000000FBAC0000040000100018000000C041000000000000803F00000000FDAC00000400002A000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000006_45F365D3]    Script Date: 4/15/2021 1:57:55 PM ******/
CREATE STATISTICS [_WA_Sys_00000006_45F365D3] ON [dbo].[StudentAttendances]([DivisonId]) WITH STATS_STREAM = 0x010000000100000000000000000000004B9972A7000000003302000000000000F301000000000000380300003800000004000A0000000000000000000000000007000000C3E20F00F8AC000006000000000000000600000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000C04000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000190400000000000000000000000000001F000000000000006F0000000000000077000000000000007F000000000000000800000000000000100014000000C040000000000000803F0100000004000001000000BF464001F7AC00000000000000001840060000000000000001000000000000000000F03F0000000000000000000000000000000000000000000008C000000000000008C0000000000000000006000000000000000000000000000000
GO
/****** Object:  Statistic [IX_CourseId]    Script Date: 4/15/2021 1:57:55 PM ******/
UPDATE STATISTICS [dbo].[StudentAttendances]([IX_CourseId]) WITH STATS_STREAM = 0x010000000200000000000000000000007F25485E000000004B02000000000000F301000000000000380300003800000004000A00000000000000000000000000380300003800000004000A0000000000000000000000000007000000C2E20F00F8AC000006000000000000000600000000000000000000000000803FABAA2A3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000200000014000000000000410000C04000000000000080400000804000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000190400000000000000000000000000001F000000000000006F0000000000000077000000000000007F000000000000000800000000000000100014000000C040000000000000803F0200000004000001000000BE464001F7AC00000000000000001840060000000000000001000000000000000000F03F0000000000000000000000000000000000000000000008C000000000000008C0000000000000000006000000000000000000000000000000, ROWCOUNT = 42, PAGECOUNT = 1
GO
/****** Object:  Statistic [IX_StudentId]    Script Date: 4/15/2021 1:57:55 PM ******/
UPDATE STATISTICS [dbo].[StudentAttendances]([IX_StudentId]) WITH STATS_STREAM = 0x010000000200000000000000000000000301DAF3000000006A02000000000000120200000000000038030A003800000004000A000000000000000000C2E20F00380300003800000004000A0000000000000000000000000007000000C1E20F00F8AC0000060000000000000006000000000000000000003FABAAAA3EABAA2A3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000200000014000000000000410000C04000000000000080400000804000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000190400000000000000000000000000003E000000000000008E0000000000000096000000000000009E00000000000000100000000000000027000000000000001000140000000040000000000000803F02000000040000100014000000004000000040000000400400000004000001000000BD464001F7AC00000000000000001840060000000000000002000000000000605555D53F0000000000000000000000000000000000000000000008C000000000000008C0000000000000000006000000000000000000000000000000, ROWCOUNT = 42, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_dbo.StudentAttendances]    Script Date: 4/15/2021 1:57:55 PM ******/
UPDATE STATISTICS [dbo].[StudentAttendances]([PK_dbo.StudentAttendances]) WITH STATS_STREAM = 0x010000000100000000000000000000002E96BFBD0000000090020000000000005002000000000000380300003800000004000A000000000000000000FFFFFFFF07000000498A1000F8AC0000060000000000000006000000000000000000803FABAA2A3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004000000040000000100000014000000000080400000C04000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000190400000000000000000000000000007C00000000000000CC00000000000000D400000000000000DC00000000000000200000000000000037000000000000004E000000000000006500000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F03000000040000100014000000803F0000803F0000803F05000000040000100014000000803F000000000000803F0600000004000001000000D14E4001F7AC00000000000000001840060000000000000004000000000000605555C53F0000000000000000000000000000000000000000000008C000000000000008C0000000000000000006000000000000000000000000000000, ROWCOUNT = 42, PAGECOUNT = 1
GO
/****** Object:  Statistic [IX_CourseId]    Script Date: 4/15/2021 1:57:55 PM ******/
UPDATE STATISTICS [dbo].[StudentCourses]([IX_CourseId]) WITH STATS_STREAM = 0x010000000200000000000000000000002DEBDF400000000058000000000000000000000000000000380300003800000004000A00000000000000000037000000380300003800000004000A00000000000000000010001400, ROWCOUNT = 0, PAGECOUNT = 1
GO
/****** Object:  Statistic [IX_StudentId]    Script Date: 4/15/2021 1:57:55 PM ******/
UPDATE STATISTICS [dbo].[StudentCourses]([IX_StudentId]) WITH STATS_STREAM = 0x010000000200000000000000000000002DEBDF400000000058000000000000000000000000000000380300003800000004000A00000000000000000037000000380300003800000004000A00000000000000000010001400, ROWCOUNT = 0, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_dbo.StudentCourses]    Script Date: 4/15/2021 1:57:55 PM ******/
UPDATE STATISTICS [dbo].[StudentCourses]([PK_dbo.StudentCourses]) WITH STATS_STREAM = 0x010000000200000000000000000000002DEBDF400000000058000000000000000000000000000000380300003800000004000A00000000000000000037000000380300003800000004000A00000000000000000010001400, ROWCOUNT = 0, PAGECOUNT = 1
GO
/****** Object:  Statistic [IX_FacultyId]    Script Date: 4/15/2021 1:57:55 PM ******/
UPDATE STATISTICS [dbo].[StudentFaculties]([IX_FacultyId]) WITH STATS_STREAM = 0x010000000200000000000000000000002DEBDF400000000058000000000000000000000000000000380300003800000004000A00000000000000000037000000380300003800000004000A00000000000000000010001400, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [IX_StudentId]    Script Date: 4/15/2021 1:57:55 PM ******/
UPDATE STATISTICS [dbo].[StudentFaculties]([IX_StudentId]) WITH STATS_STREAM = 0x010000000200000000000000000000002DEBDF400000000058000000000000000000000000000000380300003800000004000A00000000000000000037000000380300003800000004000A00000000000000000010001400, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK_dbo.StudentFaculties]    Script Date: 4/15/2021 1:57:55 PM ******/
UPDATE STATISTICS [dbo].[StudentFaculties]([PK_dbo.StudentFaculties]) WITH STATS_STREAM = 0x010000000200000000000000000000002DEBDF400000000058000000000000000000000000000000380300003800000004000A00000000000000000037000000380300003800000004000A00000000000000000010001400, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [_WA_Sys_00000003_440B1D61]    Script Date: 4/15/2021 1:57:55 PM ******/
CREATE STATISTICS [_WA_Sys_00000003_440B1D61] ON [dbo].[Students]([password]) WITH STATS_STREAM = 0x010000000100000000000000000000003FFD9EA000000000D3020000000000009302000000000000E7020000E7000000FFFF00000000000008D00034380000000700000084E20F00F8AC000004000000000000000400000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000100000000000804100008040000000000000804100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001B0400000000000000000000000000005E00000000000000B70000000000000007010000000000000F010000000000001701000000000000100000000000000031000000000000003000100000000040000000000000803F04000001002100610064006D0069006E003000100000000040000000000000803F04000001002D006C006B006A007200720077006A007700640070006F00FF010000000000000004000000020000002800000028000000000000000000000010000000610064006D0069006E006C006B006A007200720077006A007700640070006F000300000040000000008205000000020B05000000010000009D843801F7AC00000000000000000840030000000000000002000000000000000000E03F00000000000000000000000000000000000000000000F0BF00000000000000C0555555555555D53F04000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_0000000A_440B1D61]    Script Date: 4/15/2021 1:57:55 PM ******/
CREATE STATISTICS [_WA_Sys_0000000A_440B1D61] ON [dbo].[Students]([username]) WITH STATS_STREAM = 0x01000000010000000000000000000000AD4C7A0100000000BF020000000000007F02000000000000E7020233E7000000FFFF00000000000008D00034000000000700000085E20F00F8AC000004000000000000000400000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000100000000000284100008040000000000000284100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001B0400000000000000000000000000005400000000000000A300000000000000F300000000000000FB000000000000000301000000000000100000000000000031000000000000003000100000004040000000000000803F04000001002100610064006D0069006E00300010000000803F000000000000803F040000010023006D006F0068006D0065006400FF01000000000000000400000002000000280000002800000000000000000000000B000000610064006D0069006E006D006F0068006D00650064000300000040000000008305000000010605000000010000009C843801F7AC00000000000000000840030000000000000001000000000000000000F03F000000000000F03F0000000000000000000000000000F0BF00000000000000C0CD3B7F669EA0D63F04000000000000000000000000000000
GO
/****** Object:  Statistic [IX_DivisionId]    Script Date: 4/15/2021 1:57:55 PM ******/
UPDATE STATISTICS [dbo].[Students]([IX_DivisionId]) WITH STATS_STREAM = 0x010000000200000000000000000000004ABE437B000000006A020000000000001202000000000000380300003800000004000A00000000000000000001000000380300003800000004000A000000000000000000000000000700000083E20F00F8AC000004000000000000000400000000000000000000000000003F0000803E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000200000014000000000000410000804000000000000080400000804000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000190400000000000000000000000000003E000000000000008E0000000000000096000000000000009E00000000000000100000000000000027000000000000001000140000004040000000000000803F01000000040000100014000000803F000000000000803F0200000004000001000000E42A3701F7AC0000000000000000F03F010000000000000001000000000000000000F03F000000000000F03F0000000000000000000000000000F03F00000000000000C0CD3B7F669EA0D63F04000000000000000000000000000000, ROWCOUNT = 6, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_dbo.Students]    Script Date: 4/15/2021 1:57:55 PM ******/
UPDATE STATISTICS [dbo].[Students]([PK_dbo.Students]) WITH STATS_STREAM = 0x0100000001000000000000000000000015D10BAA0000000090020000000000005002000000000000380300003800000004000A000000000000000000FFFFFFFF070000008F926101FBAC0000050000000000000005000000000000000000803FCDCC4C3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004000000040000000100000014000000000080400000A04000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000190400000000000000000000000000007C00000000000000CC00000000000000D400000000000000DC00000000000000200000000000000037000000000000004E000000000000006500000000000000100014000000803F000000000000803F02000000040000100014000000803F0000803F0000803F04000000040000100014000000803F000000000000803F05000000040000100014000000803F000000000000803FEA03000004000001000000FDEC3801F7AC00000000000000000840030000000000000002000000000000605555D53F00000000000000400000000000000000000000000000E0BF00000000000004C00B63FF51181AE23F05000000000000000000000000000000, ROWCOUNT = 6, PAGECOUNT = 1
GO
